---
layout: default
---

<div class="home">

  <h1>Welcome</h1>
  <p>You’ve arrived at Mitchell McKinnon’s home page. I’m not quite sure how you arrived here, but glad that you made
    it.</p>

  <h2>Posts</h2>
  <ul>
    {% for post in site.posts %}
    <li style="list-style-type: none">
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

  <h2>Projects</h2>
  <ul>
    {% for page in site.projects %}
    <li style="list-style-type: none">
      <h2>
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

</div>