/* My attempt at making things look nicer. . .  */

.userValues {
    height: 38px; 
    padding: 0 30px;
    border-radius: 4px; 
    border: none;
    font-size: 2.4em
}

#userValue {
    font-size: 1.75em
}

.but {
    padding-left: 1.5em
}

.spacer {
    height: 2em;
}

#timerInput {
    
}
